<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<style>

    .footer {
        background-color: #F2EAE9;
    }

    .footer a {
        text-decoration: none;
        color: #000;
        
    }


    .footer .row ul li {
        list-style: none;
        float: left;
        font-size: 10px;
        border: none;
        display:block;
        margin-right: 8px; 
    }

</style>
</head>
<body>
        
    <div class="footer container-fluid justify-content-center " id="footerDIV">
    <hr>
        <div class="row justify-content-center">
            <p class="text-muted">O2O를 잇는 신뢰와 기술로 차량을 사고 파는 모습의 진화를 만듭니다</p>
        </div>
        <div class="row justify-content-center">
            <ul class="go list-group list-group-horizontal-md ">
                <li class="font-weight-light"><a href="/cp/about_encar.do" class="about" target="_blank">회사소개</a></li>
                <li class="font-weight-light"><a href="/cp/about_encar.do?method=recruit01" class="talent" target="_blank">인재채용</a></li>
                <li class="font-weight-light"><a href="/cl/index.do" class="clean" target="_blank">클린엔카</a></li>
                <li class="font-weight-light"><a href="/bc/bc_index.do" class="ec" target="_blank">지점안내</a></li>
                <li class="font-weight-light"><a href="/es/es_index_v01.html" class="es" target="_blank">매매지원</a></li>
                <li class="font-weight-light"><a href="/co/co_agreement_v01.html" class="terms" target="_blank">이용약관</a></li>
                <li class="font-weight-light"><a href="/cs/cs_index.do" class="contact">고객센터</a></li>
                <li class="font-weight-light"><a href="http://da.encar.com" class="display" target="_blank">디스플레이광고</a></li>
                <li class="font-weight-light"><a href="/co/co_document.do?method=getRecentDocument&amp;type=02&amp;wtClick_index=121" class="privacy" target="_blank">개인정보처리방침</a></li>
                <li class="font-weight-light"><a href="http://www.startsupport.com/encar" class="remote" target="_blank">원격지원서비스</a></li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <ul class="info contact list-group list-group-horizontal-md ">
                <li class="net font-weight-light"><b title="사이트 이용문의">고객센터 :</b> <i>1599-5455</i></li>
                <li class="buy font-weight-light"><b title="차량 매입문의">차량 매입문의 :</b> <i>070-7467-1900</i></li>
                <li class="fax font-weight-light"><b title="FAX">FAX :</b> <i>02-754-8768</i></li>
                <li class="mail font-weight-light"><b title="대표메일">대표메일 :</b> <i>trust@encar.com</i></li>
                <li class="address font-weight-light"><b title="주소">주소 :</b> <i>서울특별시 중구 통일로2길 16 AIA타워 18,19층</i></li>
            </ul>           
        </div>
        <div class="row justify-content-center">
            <ul class="info about list-group list-group-horizontal-md ">
                <li class="cid font-weight-light"><b title="사업자 등록번호">사업자 등록번호 :</b> <i><a href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2014301013030200397&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=1048654476&amp;stdate=&amp;enddate" target="_blank"><u>104-86-54476</u></a></i></li>
                <li class="rid font-weight-light"><b title="통신판매업신고">통신판매업신고 :</b> <i> 제2014-서울중구-0393호</i></li>
                <li class="ceo font-weight-light"><b title="대표자">대표자 :</b> <i>김상범</i></li>
                <li class="pim font-weight-light"><b title="개인정보관리책임자">개인정보보호책임자 :</b> <i>안용운</i></li>
                <li class="copyright font-weight-light"><i title="copyright © 에스케이엔카닷컴(주)">Copyright © 에스케이엔카닷컴(주)</i></li>
            </ul>    
        </div>

    </div>



</body>